{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ author.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ author.lastname }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ author.birthday ? author.birthday|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('author_index') }}">back to list</a>

    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
