{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        <h1>Accueil</h1>

        <p>Bienvenue dans votre bibliothèque !</p>

        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <p>Merci de vous connecter <a href="{{ path('app_login') }}">ici</a></p>
        {% else %}
            <h2>Menu</h2>
            <ul>
                <li>
                    <a href="#indexBook">Mes livres</a>
                </li>
                <li>
                    <a href="#addBook">Ajouter un livre</a>
                </li>

                {# MENU ADMIN #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('book_index') }}">Tous les livres</a>
                    </li>
                    <li>
                        <a href="{{ path('editor_index') }}">Éditeurs</a>
                    </li>
                    <li>
                        <a href="{{ path('author_index') }}">Auteurs</a>
                    </li>
                    <li>
                        <a href="{{ path('category_index') }}">Catégories</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
